/*reset*/
:root {
  --main-color: rgb(28, 28, 28);
  --bg-main: #f7f7f7;
  --paragraph-color: rgb(116, 129, 130);
}
body {
  font-family: "Poppins";
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  color: rgb(52, 52, 52);
}
/*end reset*/

/*start navbar*/
.navbar-brand {
  font-family: "Montserrat";
  font-weight: 800;
}
nav {
  padding: 20px 0px 30px;
}
.section-padding {
  padding: 6.25rem 0px 4.375rem;
}
.main-bg {
  background-color: var(--bg-main);
}
.title-section {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}
.icons i {
  display: inline-flex;
  color: white;

  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.title-section h3 {
  color: #343434;
  font-weight: 900;
  font-size: 2.5rem;
  position: relative;
}
.title-section::before {
  content: "";
  position: absolute;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  left: 0;
  bottom: -13px;
  width: 100%;
  height: 80%;
}
nav .nav-pills .nav-link {
  font-weight: 400;
  font-size: 0.875rem;
  margin-right: 1.6rem;
  position: relative;
}
@media(max-width:992px){
  nav .nav-pills .nav-link{
    margin-right:0;
  }
}

nav .nav-pills .nav-link.active {
  border: none;
}
nav .nav-pills .nav-link,
nav .nav-pills .nav-link.active {
  padding-inline: 0;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav {
  --bs-nav-link-padding-y: 0;
  --bs-nav-link-hover-color: black;
}
@media (min-width: 992px) {
  .nav {
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-hover-color: white;
  }

  nav .nav-link,
  nav .nav-pills .nav-link.active {
    color: white;
  }
  nav .nav-pills .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 0%;
    height: 2px;
    transition: 1s;
  }
  nav .nav-pills .nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 2px;
    transition: 0.5s;
  }
}
@media (max-width: 992px) {
  .navbar-collapse {
    background-color: white;
    text-align: center;
    margin-top: 1.25rem;
  }

  .nav-pills .nav-item {
    margin-top: 1.25rem;
  }
  .nav-pills .nav-link {
    color: black;
  }
}
/*end navbar*/
/*start main header*/
.main-header {
  background-image: url("../imgs/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.main-header .container {
  position: relative;
  z-index: 4;
}

.main-header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.65;
}
.main-header h1 {
  font-weight: 200;
}
.main-header h5 {
  font-weight: 800;
}
.main-header header {
  padding: 1rem;
}
.main-header .icons {
  margin-top: 15px;
}
.main-header .icons i {
  margin-right: 0.2rem;

  width: 35px;
  height: 35px;
  padding: 15px;
  background-color: #000a10;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}
.main-header header h1 span {
  animation: width 1.5s linear 0.5s infinite alternate;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: 0;
  padding-right: 10px;
  max-width: fit-content;
  position: relative;
}
.main-header header h1 span::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2px;
  right: 0;
}

@keyframes width {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
/*end main header*/

/*start about section*/

.about .image {
  position: relative;
  padding: 0 0.9375rem;
}
.about .image::before {
  content: "";
  position: absolute;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  left: -11px;
  bottom: -20px;
  z-index: -1;
  width: 100px;
  height: 100%;
}
.about header h3 {
  color: #343434;
  font-weight: 800;
}
.about header span {
  color: #999999;
  letter-spacing: 0.125rem;
}
.about header p {
  color: rgb(129, 129, 130);
}
.about header p span {
  color: #748182;
  font-weight: 700;
  letter-spacing: 0;
}
.about .btns a {
  font-weight: 400;
}
.about .btns .btn {
  --bs-btn-padding-x: 1.875rem;
  --bs-btn-padding-y: 0.625rem;
  font-size: 0.8125rem;
}
.about .btns a:first-child {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
}
.about .btns a:first-child:hover {
  background-color: transparent;
  color: black;
}
.about .btns a:nth-child(2) {
  border: 1px solid var(--main-color);
}
.about .btns a:nth-child(2):hover {
  background-color: var(--main-color);
  color: white;
}
.progress {
  --bs-progress-bar-bg: #1c1c1c;
  --bs-progress-bg: var(--bg-main);
  --bs-progress-height: 1.45rem;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.progress .progress-bar {
  border-radius: 0.375rem;
}
@media (max-width: 992px) {
  .about .image {
    margin-bottom: 4.5rem;
  }
}
/*end about section*/
/*start services*/
.services .box .icon {
  background-color: var(--bg-main);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  transition: 1s;
}
.services .box {
  padding: 3.125rem 1.25rem;
}
.services .box p {
  font-size: 0.875rem;
  color: var(--paragraph-color);
}
.services .box:hover .icon {
  background-color: var(--main-color);
}
.services .box:hover .icon i {
  color: white;
}
.services .box .icon i {
  font-size: 1.5625rem;
  transition: 1s;
}
.services .box h6 {
  font-weight: 800;
  font-size: 1.125rem;
}
/*end services*/
/*start portfolio*/
.nav-pills {
  --bs-link-color: black;
  --bs-nav-pills-link-active-color: black;
  --bs-nav-pills-link-active-bg: transparent;
  --bs-link-hover-color: none;
  --bs-nav-pills-border-radius: 0;
  --bs-nav-link-padding-x: 0;
}
.portoflio .nav-pills .nav-link {
  margin-right: 1.25rem;
}
.portoflio .nav-pills .nav-link {
  font-weight: 700;
}

.nav-pills .nav-link.active {
  border-bottom: 2px solid;
}
.portoflio .img {
  position: relative;
}
.portoflio .img:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
.portoflio .img .overlay {
  position: absolute;

  transition: 0.5s;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(10px);
}

.portoflio .img .overlay .content h6 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.portoflio .img .overlay .content h6 {
  transform: translateY(-20px);
  transition: 0.5s;
}
.portoflio .img .overlay .content .icons {
  transform: translateY(15px);
  transition: 0.5s;
}
.portoflio .img:hover .overlay .content .icons,
.portoflio .img:hover .overlay .content h6 {
  transform: translateY(0);
}
.portoflio .img .overlay .content .icons i {
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  padding: 15px;
  font-size: 0.875rem;
  border: 1px solid var(--main-color);
  transition: 0.6s;
}
.portoflio .img .overlay .content .icons i:hover {
  background-color: transparent;
  color: black;
}
/*end portfolio*/
/*start testimonials*/
.carousel-item {
  min-width: 230px;
}
.testimonials header {
  margin-bottom: 0;
}
.carousel-item p {
  color: #748182;
}
.carousel-indicators {
  position: static;
}
.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #869791;
  margin-right: 0.625rem;
}
.carousel-item header h6 {
  font-weight: 600;
}

.carousel-item header span {
  color: rgb(136, 136, 136);
  font-weight: 600;
  font-size: 0.75rem;
}
/*end testimonials*/
/*start clients*/
.clients .inner p {
  color: var(--paragraph-color);
}
.clients .inner i {
  font-size: 1.875rem;
}
.clients .inner h3 {
  font-weight: 900;
  font-size: 1.875rem;
}
.clients .inner p {
  font-size: 0.9375rem;
  font-weight: 600;
}
/*end clients*/
/*start team*/
.team .inner {
  position: relative;
  overflow: hidden;
}
.team header {
  margin-bottom: 5rem;
}

.team .inner {
  overflow: hidden;
}

.team .inner .overlay {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  background-color: #fafcfd;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s;
  transform: rotateY(180deg);
}

.team .box:hover .overlay {
  transform: rotateY(0deg);
  opacity: 1;
}
.team .inner img {
  transition: 0.4s;
}
.team .box:hover img {
  transform: scale(1.2);
}

.team .inner .overlay .icons i {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 40px;
  height: 40px;
  transition: 0.4s;
}
.team .inner .overlay .icons i:hover {
  background-color: transparent;
  color: black;
}
.team .info {
  background-color: #5b5b5b;
  padding: 1.25rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.team .info h5 {
  font-weight: 500;
}
/*end team*/
/*start contact*/
.contact .title-section {
  margin-bottom: 5rem;
}
.contact .inner .icon {
  width: 60px;
  height: 60px;
  display: inline-flex;
  border-radius: 50%;
  background-color: rgb(238, 238, 238);
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.contact .inner:hover .icon {
  background-color: var(--main-color);
  color: white;
}
.contact .inner .icon i {
  font-size: 1.3rem;
}
.contact .inner h6 {
  font-weight: 700;
}
.contact .inner p {
  color: var(--paragraph-color);
}
.contact .container {
  padding: 0 4.5625rem;
}
@media (max-width: 992px) {
  .contact .container {
    padding: 0 15px;
  }
}

textarea,
input {
  background-color: #f4f4f4;
  color: #757575;
  border-radius: 5px;
  border: none;
  padding: 10px;
  outline: none;
}
textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}
form button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  transition: 0.5s;
}
form button:hover {
  background-color: transparent;
  color: black;
}

/*end contact*/
/*start footer*/
footer {
  background-color: #1c1c1c;
  padding: 1.875rem;
}
footer p {
  color: #748182;
}
/*end footer*/
@media (max-width: 300px) {
  .title-section h3 {
    font-size: 1.5rem;
  }
}
